<h2><%= "##{@tag.name}" %> のタグがついた投稿</h2>

<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post_path(post, tag: params[:tag], filter: params[:filter], search: true) %>
  </div>
<% end %>