@import "layout";
@import "posts_new";
@import "header";
@import "vegetables";
@import "show";
@import "posts";
@import "liked_posts";
@import "footer";

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 24px;
}

